* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.button__primary {
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
    font-size:18px;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;

}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.nav__item {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.nav__item:hover {
    border: 2px solid blue;
}


.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__text {
    font-size: 30px;
    margin: 20px 0;
}

.explore__menu__text{
    font-size: 30px;
    margin: 50px 0 30px 0;
    text-align: center;
}

.food__card {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food__card__image__container {
    width: 100%;
}

.food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food_card__description {
    padding: 15px;
}

.restaurant__text{
    font-size: 30px;
    margin: 50px 0 25px 0;
    text-align: center;
}

.restaurant__images__container{
    width:100%;
}

.restaurant__images__row__one,
.restaurant__images__row__two{
    width:100%;
    display:flex;
    gap:3px;
    
}
.restaurant__images__row__one{
    align-items: baseline;
    margin-bottom:3px;
}


.restaurant__image__1,
.restaurant__image__4{
    width:100%;
    height:120px;
}

.restaurant__image__2,
.restaurant__image__3{
    width:120%;
    height:150px;
}



.restaurant__1,
.restaurant__2,
.restaurant__3,
.restaurant__4{
    width:100%;
    height:100%;
}


.contact__container{
    text-align:center;
}

.contact__form__container{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top:10px;
}

#email_container{
    height:20px;
    background-color:#ffb8b8;
    border:1px solid red;
    border-radius: 3px;
}

.section__container{
    margin-top:20px;
}

.get__update__button{
    padding:4px;
    font-size:14px;
    border-radius:3px;
}


.quote__container{
    position:relative;
    margin-top:4rem;
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:200px;
    width:100%;
    border-radius:13px;
    background : url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat
}

.quote__image__overlay{
    position:absolute;
    height:200px;
    width:100%;
    border-radius:13px;
    background-color: #0a4065;
    opacity: 49%;
}

.quote__image__text{
    color:#fff;
    z-index:3;
    margin: 0 1rem;
    text-align:center;
}

footer{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border-radius:1rem 1rem 0 0;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    margin-top: 5rem;
}

footer > img{
    width:300px;
    filter: brightness(0) invert(1);
}

footer > ul{
    margin-top: -1rem;
    color: #fff;
    list-style: none;
    margin:0;
    padding:0;
}

footer > ul > li{
    margin:5px 0;
}
/* Tablet Specification */

@media(min-width:768px) {
    .navbar {
        justify-content: space-between;
        padding: 2px 30px;
        height: 80px;
        box-shadow: 0px 5px 8px 0px rgb(10 10 10 / 20%);


    }

    .button__primary{
        font-size:18px;
        padding:18px;
    }

    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
        margin-bottom:100px;
    }

    .explore__menu__container{
        margin-bottom: 100px;
    }

    .explore__menu__lists {
        display: flex;
        gap: 15px;
        margin-top: 40px;
        padding:0 30px;
    }

    #pizza_card {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .explore__menu__view__more {
        display: flex;
        justify-content: center;
    }

    .explore__menu__container {
        position: relative;
    }

    .explore__menu__gradient__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        z-index: -1;
        transform: skewY(-3deg);
    }

    .explore__menu__container{
        margin-top:100px;
    }

    .restaurant__container{
        display:flex;
        align-items: center;
    }

    .restaurant__text{
        width:100%;
        font-size:40px;
    }

    .contact__container{
        margin-top:100px;
    }
    
    #email_container{
        height:30px;
        width:200px;
    }

    .get__update__button{
        padding:5px;
    }
}

/* PC Specification */
@media(min-width:1020px) {
    .navbar {
        padding: 1px 30px;
    }

    .container {
        max-width: 900px;
    }

    .navbar__brand {
        width: 150px;
    }

    .button__primary {
        padding: 20px;
        font-size: 20px;
    }

    .hero__text {
        font-size: 50px;
    }

    .hero__description {
        width: 100%;
    }

    .explore__menu__lists {
        gap: 40px;
    }

    .explore__menu__text {
        font-size: 50px;
    }

    .restaurant__image__1,
    .restaurant__image__4{
        width:100%;
        height:150px;
    }

    .restaurant__image__2,
    .restaurant__image__3{
        width:110%;
        height:180px;
    }

    .view__more__button{
        background:none;
        font-size: medium;
    }

    .get__update__button{
        padding:6px;
        font-size:14px;
        border-radius:5px;
    }

    .section__container{
        margin-top:50px;
    }

    .contact__form__container{
        column-gap: 10px;
        margin-top:10px;
    }

    #email__container{
        height:35px;
        border-radius:4px;
    }

    #email_container{
        height:40px;
        width:300px;
    }

    .get__update__button{
        padding:12px;
    }

    footer{
        flex-direction: row;
        gap:20rem;
        
    }

}

@media(min-width:1400px) {
    .container {
        max-width: 1250px;
    }

    .restaurant__image__1,
    .restaurant__image__4{
        width:100%;
        height:180px;
    }

    .restaurant__image__2,
    .restaurant__image__3{
        width:110%;
        height:210px;
    }
}